.contact-us {
  background: #283e51 0% 0% no-repeat padding-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 100px;
}

.contact-us-title {
  font-family: "Butler-Light";
  font-size: 48px;
  color: #ffffff;
  font-weight: 100;
}

.contact-us-description {
  font-family: "Gilroy-Light";
  color: #ffffff;
  font-weight: 100;
}

.contact-us-btn {
  all: unset;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: "Gilroy-Medium", sans-serif;
  padding: 1rem 3rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  font-size: 22px;
}

.contact-us-btn:hover {
  background-color: #ffffff;
  color: #283e51;
}

.parrot {
  position: absolute;
  right: 120px;
  top: -39px;
  width: 350px;
  height: 300px;
}

@media (max-width: 768px) {
  .contact-us {
    margin-bottom: 50px;
  }

  .contact-us-title {
    font-size: 32px;
  }

  .contact-us-btn {
    padding: 0.8rem 2.5rem;
    font-size: 18px;
  }

  .parrot {
    display: none;
  }
}
